<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="LiveTaskは、タスクを管理・整理するシンプルで軽量なWebアプリです。">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <title>LiveTask</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/app.js}" defer></script>
  <meta name="google-site-verification" content="2Cmj8APJtP5JfUmNGQnj2GxIIG-kN8qdixjNUTOuf20" />
</head>
<body>
  <div class="container">
    <h1>現在のタスク一覧</h1>

    <!-- タスク追加フォーム -->
    <div id="formErrors" class="error-messages"></div>
    <form id="taskForm" th:action="@{/add}" method="post">
      <input type="text" name="title" placeholder="タスク名">
      <input type="text" name="dueDate" placeholder="期限: 年/ 月 /日" autocomplete="off">
      <label for="priority">優先度</label>
      <select name="priority" id="priority">
        <option value="" disabled selected>--------</option>
        <option value="1">高</option>
        <option value="2">中</option>
        <option value="3">低</option>
      </select>
      <button type="submit">追加</button>
    </form>

    <!-- タスク一覧 -->
    <div class="task-columns">
      <div class="task-section">
        <h2>進行中</h2>
        <form class="task-checkboxes" th:action="@{/tasks/sort}" method="post">
          <label>
            <span id="checkboxes-sort">ソート</span>
          </label>
          <label>
            <input type="checkbox" name="tags" value="priority"> 優先度
          </label>
          <label>
            <input type="checkbox" name="tags" value="dueDate"> 期限
          </label>
        </form>
        <div id="inProgressTasks" class="taskList">
          <div th:each="task : ${tasks}" 
               th:if="!${task.completed}"
               th:attr="data-id=${task.id}"
               class="task"
               draggable="true"
               th:classappend="${task.completed} ? 'completed'">
            <span class="title" th:text="${task.title}"></span>
            <span>期限:</span>
            <span class="dueDate" th:text="${task.dueDate != null ? #temporals.format(task.dueDate, 'yyyy/MM/dd') : 'なし'}"></span>
            
            <span class="priority-container">優先度:
              <span class="priority" 
              th:attr="data-priority=${task.priority == 1 ? '高' : task.priority == 2 ? '中' : '低'}"></span>
            </span>
            <div id="task-buttons">
              <button type="button" class="deleteBtn">削除</button>
              <button type="button" class="toggleBtn">完了</button>
            </div>
          </div>
        </div>
      </div>

      <div class="task-section">
        <h2>完了</h2>
        <div class="task-checkboxes dummy">
          <label><span>ソート</span></label>
          <label><input type="checkbox"> 優先度</label>
          <label><input type="checkbox"> 期限</label>
        </div>
        <div id="completedTasks" class="taskList">
          <div th:each="task : ${tasks}"
               th:if="${task.completed}"
               th:attr="data-id=${task.id}"
               class="task completed"
               draggable="true">
            <span class="title" th:text="${task.title}"></span>
            <span>期限:</span>
            <span class="dueDate" th:text="${task.dueDate != null ? #temporals.format(task.dueDate, 'yyyy/MM/dd') : 'なし'}"></span>
            <span class="priority-container">優先度:
              <span class="priority" 
              th:attr="data-priority=${task.priority == 1 ? '高' : task.priority == 2 ? '中' : '低'}"></span>
            </span>
            <div id="task-buttons">
              <button type="button" class="deleteBtn">削除</button>
              <button type="button" class="toggleBtn">進行中</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jsで使うテンプレート（非表示） -->
    <template id="taskTemplate">
      <div class="task" data-id="">
        <span class="title"></span>
        <span>期限:</span>
        <span class="dueDate"></span>
        <span class="priority-container">優先度:
          <span class="priority"></span>
        </span>
        <div id="task-buttons">
          <button type="button" class="deleteBtn">削除</button>
          <button type="button" class="toggleBtn">完了</button>
        </div>
      </div>
    </template>
  </div>
</body>
</html>